<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechForum</title>
    <link rel="stylesheet" href="/Projetos/UC1/src/style/style.css">
</head>
<body>
    <header id="cabeçalho">
        TechForum 
        <a href="home.html" class="links">Home</a>
        <a href="forum.html" class="links">Forum</a>
        <a href="trilhas.html" class="links">Trilas</a>
        <a href="sobre.html" class="links">Sobre</a>
        <button id="btnEntrar" class="botoes">Entrar</button>
        <button id="btnCadastro" class="botoes">Cadastro</button>    
    </header>
    <div id="apresentação">
        <h1>Sua jornada <span style="color: #280137;">tech</span>
        começa aqui</h1> 
        <p>Plataforma colaborativa onde voluntários ajudam desenvolvedores a crescer. Faça perguntas, compartilhe conhecimento e evolua junto com a comunidade.</p>
        <button style="background-color: #280137;"><span style="color: #fff;">Começar Agora</span></button>
        <button style="background-color: #fff;"><span style="color: #280137;">Começar Agora</span></button>
    </div>
    <div id="pqEscolher">
        <h2>Por que escolher o TechForum</h2>
        <p>Uma plataforma completa para acelerar seu aprendizado em desemvolvimento</p>
        <div class="pqEscolhercard" id="sobreForum">
            <h3>Fórum Colaborativo</h3>
            <p>Faça Perguntas e ajude os outros desenvolvedores com suas duvidas técnicas.</p>
        </div>
        <div class="pqEscolhercard" id="sobreTrilhas">
            <h3>Trilhas de aprendizado</h3>
        <p>Siga Trilhas estruturadas para aprender Frontend, Backend ou FullStack.</p>
        </div>
        <div class="pqEscolhercard" id="sobreComunidade">
            <h3>Comunidade Ativa</h3>
            <p>Conect-se com desenvolvedores de todos os níveis e compartilhe conhecimento.</p>
        </div>
    </div>
</body>
</html>