<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Forum</title>
</head>
<body>
    <div id="containerlogin">
        <h1>Faça seu login</h1>
        <input type="text" id="usernamelog" class="inputs" placeholder="Nome de Usuario">
        <input type="email" id="useremaillog" class="inputs" placeholder="Email">
        <input type="text" id="passwordlog" class="inputs" placeholder="Senha">
        <button id="enviarlog" class="botoes">Enviar</button>
        <p>Nao tem cadastro?</p> <button id="fazercadastro" class="btn-navegacao" data-destino="cadastro" onclick="proximaPagina('cadastro')">Fazer cadastro</button>
    </div>
</body>
<script src="/src/js/app.js"></script>
</html>