<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Forum</title>
</head>
<body>
    <div id="containercadastro">
        <h1>Faça seu cadastro</h1>
        <input type="text" id="username" class="inputs" placeholder="Nome de usuario">
        <input type="email" id="useremail" class="inputs" placeholder="Email">
        <input type="password" id="password" class="inputs" placeholder="Senha">
        <button id="enviar" class="botoes">Enviar</button>
        <p>Já tem cadastro?</p> <button id="fazerlogin" onclick="proximaPagina('login')">Faça login</button>
    </div>
</body>
<script src="/src/js/app.js"></script>
</html>