<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>Efetue seu login!</p>
        <input type="text" name="Nome" id="nomelog" placeholder="Nome"> <br>
    <input type="text" name="Email" id="emaillog" placeholder="Email"> <br>
    <input type="password" name="Senha" id="senhalog" placeholder="Senha"> 
    <button id="enviarlog">Enviar login</button>
    
    </div>
</body>
<script src="/projeto/src/app.js"></script>
</html>