<!DOCTYPE html>
<html lang="pt-BR"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Playwrite+CA:wght@100..400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../src/style.css">
</head>
<body>
    <div id="containercadastro">
        <h1 class="pacifico-regular">Faça seu cadastro!</h1>

        <input type="text" id="nome" placeholder="Nome"> <br>
        <input type="text" id="email" placeholder="E-mail"> <br>
        <input type="password" id="senha" placeholder="Senha"> <br>

        <button id="enviar">Enviar</button>
        <br>
        <button id="btnirLogin">Ir para login</button>
    </div>

    <script src="../src/app.js"></script>
</body>
</html>
