<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="link rel="preconnect href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Playwrite+CA:wght@100..400&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercícios</title>
    <link rel="stylesheet" href="../src/style.css">
</head>
<body>
    <div id="containerexercicio">
        <h1 class="pacifico-regular">Exercícios</h1>

        <button id="exercicio1">Exercício 1</button>
        <button id="exercicio2">Exercício 2</button>
        <button id="exercicio3">Exercício 3</button>
        <button id="exercicio4">Exercício 4</button>
        <button id="exercicio5">Exercício 5</button>
        <button id="exercicio6">Exercício 6</button>
        <button id="exercicio7">Exercício 7</button>
        <button id="exercicio8">Exercício 8</button>
        <button id="exercicio9">Exercício 9</button>
        <button id="exercicio10">Exercício 10</button>
    </div>

    <script>
        let paginas = {
            exercicio1: "Exercicios/exercicio1.html",
            exercicio2: "Exercicios/exercicio2.html",
            exercicio3: "Exercicios/exercicio3.html",
            exercicio4: "Exercicios/exercicio4.html",
            exercicio5: "Exercicios/exercicio5.html",
            exercicio6: "Exercicios/exercicio6.html",
            exercicio7: "Exercicios/exercicio7.html",
            exercicio8: "Exercicios/exercicio8.html",
            exercicio9: "Exercicios/exercicio9.html",
            exercicio10: "Exercicios/exercicio10.html"
        };

        for (let id in paginas) {
            let botao = document.getElementById(id);
            if (botao) {
                botao.addEventListener("click", function() {
                    window.location.href = paginas[id];
                });
            }
        }
    </script>
</body>
</html>
