<!DOCTYPE html>
<html lang="pt-BR"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <div>
        <p>Faça seu cadastro!</p>
        
        <input type="text" name="Nome" id="nome" placeholder="Nome"> <br>
        <input type="text" name="Email" id="email" placeholder="Email"> <br>
        <input type="password" name="Senha" id="senha" placeholder="Senha"> <br>
        
        <button id="bntenviar">Enviar</button>
        
        <p>Já tem cadastro? Efetue o login:</p>
        
        <button id="btnirLogin">Efetuar login</button>
    </div>

    
    <script src="/src/app.js"></script>
</body>
</html>C:\Users\jose.fstrunquim\Curso-JS-4\projeto\Template\index_cadastro.html